.card {
    width: 90%;
    max-width: 800px;
    background-color: #3a3a3a;
    min-height: 70vh;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
@media (max-width: 1200px) {
    .card {
        padding: 1rem;
    }
}
@media (max-width: 420px) {
    .card {
        padding: 0.7rem;
        padding-top: 1rem;
    }
}
.addTo-Do-container {
    display: flex;
    position: relative;
    width: 100%;
}

.addTo-Do {
    width: 100%;
    background-color: gainsboro;
    height: 2.5rem;
    padding: 0 4rem 0 1rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.addTo-Do:focus {
    border-color: #000000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.addTo-Do-button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: gainsboro;
    color: black;
    border: none;
    padding: 0.3rem 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 0.9rem;
}

.addTo-Do-button:hover {
    background-color: gainsboro;
}

.addTo-Do-icon {
    font-size: 1rem;
}