.header {
  width: 100vw;
  height: 100px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.search-container {
  position: relative;
  display: flex;
  width: 25%;
  max-width: 300px;
  min-width: 160px;
}

.search {
  width: 100%;
  height: 40px;
  padding: 0 3rem 0 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 50px;
  outline: none;
  transition: all 0.3s ease-in-out;
}


.search-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #777;
  cursor: pointer;
  transition: color 0.3s;
}


.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
 
}


.filter-select {
  font-size: 1rem;
  max-width: 90%;
  height: 44px;
  padding: 0.5rem 1rem;
  border: 2px solid #ccc;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #f9f9f9;
}




